<div class="container">
<div>
<h2>Modifier le produits    </h2>  
<button (click)="generer()" class="btn btn-dark mb-2" >Gerer les données </button>

</div>
<form [formGroup]="form"   novalidate >
    <!-- <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="id"> ID Hotel</label>
        <input  type="number" id="id"  formControlName="id" readonly>

    </div> -->
    <div class="col-sm-4 col-md-2 col-lg">
        <label for="lib"> Libelle Hotel</label>
        <input type="text" id="lib" formControlName="libelle">
    </div>
    
    <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="prix"> Prix Hotel</label>
        <input type="text" id="prix" formControlName="prix" >
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="place"> Place Hotel</label>
        <input type="text" id="place" formControlName="place" >
    </div>
    <h5>Modifier photo</h5>
    <div class="col-sm-2 col-md-2 col-lg-2" formArrayName="photo">

        <div *ngFor="let p of lesimages.controls; let i=index">
            Choix {{i+1}} <input type="text" [formControlName]="i"/>
            </div>
    </div>
    <!-- <div class="col-sm-2 col-md-2 col-lg-2">
        <label for="photo"> Photo</label>
        <input type="text" id="photo" formControlName="photo" >
    </div> -->
    <button type="button"(click)="onAjouterimage()">
        Ajouter image
        </button>
    <br>
<button class="btn btn-success" type="submit" (click)="updateproduit(id)" *ngIf="!affichage()">Update </button>
<button class="btn btn-success" type="submit" (click)="onAjouter()" *ngIf="affichage()">Ajouter</button>
</form>
</div>