<section id="bd">
    <div class="footer">
        <div class="bloc information">
            <h3> Informations utiles</h3>
            <p>  "Travel Tunisie" est une entreprise qui propose et vend des offres de voyages à ses clients. <br> 
                Elle joue le rôle d'intermédiaire entre les consommateurs et les différents prestataires de services présents sur le marché du tourisme </p>
      </div>
       
      
      <div class="bloc interr">
           <h3> vos interrogations</h3>
        <p> si vous avez des questions <br> 
        nous vous invitons à contacter notre équipe </p>
        <p> 
        Tél: +216 70 103 103 <br>
        Fax: +216 71 942 682
        </p>
    </div>
    
    
    
    <div class="bloc add">
     <h3> adresse </h3>
      <p>   travelagencetunisie@gmail.com </p>
    </div>
    </div>
     
    <div id="imag">
    <img src="https://media.istockphoto.com/photos/paddy-field-farming-at-sunrise-picture-id1033581442?k=20&m=1033581442&s=612x612&w=0&h=E7ULz2RgfeJuO2cxJut3mpbnCeOHzhwrFqiePDbeJ0g=" class="rounded"  width="1950px" height="800px">
    </div>
    
    </section>
