<!-- <h1>hotel <span style="color: rgba(red, green, blue, alpha);">{{produits[0].libelle}} </span>  </h1> -->
    <!-- <div> {{produits[0].place}}-- {{produits[0].libelle}}--{{produits[0].prix}}</div> -->
    <!-- {{produits|json}} -->
    <div class="grid-container">
 
       <form [formGroup]="productForm" >
       <div class="grid-item item1"> <h1 class="titre" >  
        {{produits[0].libelle|uppercase}} Hotel
       </h1></div>
       
        <div class="images"  class="grid-item item2">
       <div *ngFor="let img of produits[0].photo"  >
       <img src="{{img}}" alt="">
       </div></div>
        
       
       
       <div class="grid-item item3" >
       <h2> service & equipements</h2>
       <ul >
           <li *ngFor="let d of produits[0].des" >
         {{d}}
           </li>
       </ul> 
       </div>
       
       
       
       <div class="grid-item item5" >
       <h2> Dates & Tarifs </h2>
       
         <div class="row" >
           <div class="col">
           Arrivee <input type="date"  formControlName="arrive" class="form-control"/>
           </div>
           <div class="col">
           depart
           <input type="date" name="depart" formControlName="depart" class="form-control"> <br>
           </div>
           </div>
           <h3>chambre et occupation </h3><br>
            <div class="row" >
               <div class="col">
                 Adultes <input type="number" name="adulte"  formControlName="adulte" class="form-control"/> 
               </div>
                 <div class="col">
                 Enfants <input type="number" name="enfant" formControlName="enfant" class="form-control"/> (2-11ans)
                </div>
               </div>
          <button (click)="validChambre()" (click)="calculerPrix()" class="btn btn-success"> verifier la disponibilite </button>
          <div class="lead text-muted "  *ngIf="a">
           <div  class="alert alert-success">
            {{chamb}} <br>
            {{message}}
           </div> 
          </div>

       </div>
       
       
       <div class="grid-item item4">
       <h2> chambres</h2>
       <ul>
           <li *ngFor="let ch of produits[0].chambres" > {{ch}} </li>
       </ul>
       </div>
       
       <div class="grid-item item6">
        <h2> Avis</h2>
       <input type="text" placeholder="Ecrivez un commentaire ..." class="form-control form-control-lg" formControlName="comm" /> <button class="btn btn-warning" (click)="ajouterCommentaire(produits[0].id)" >ajouter</button>
       <div> 
        <h4> les commentaires</h4>
         <div class="form-control"  > {{produits[0].commentaire|json}} </div>
       </div>
       </div></form>
       </div>