<footer>
    <div class="co">
    <div class="ftr">
    <h3>About</h3>
    <ul class="con">
    <li><a href="#">Careers</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">Work</a></li>
    </ul>
    </div>
    
    
    
    
        <div class="ftr">
            <h3>Contacts</h3>
            <ul class="con">
            <li><a href="#">travelagencetunisie@gmail.com</a></li>
            <li><a href="#">Fax: (+216) 71 788 334 </a></li>
            <li><a href="#"> 64, Rue de Palastine 1002 Tunis - Tunisia </a></li>
            </ul>
            </div>
    
    
    
    
    
            <div class="ftr">
                <h3>Social</h3>
                <ul class="con">
                <li><a href="#">  <i class="fa fa-facebook"> </i> Facebook</a></li>
                <li><a href="#"> <i class="fa fa-instagram"> </i> Instagram </a></li>
                <li><a href="#"> <i class="fa fa-twitter"> </i> Twitter</a></li>
                </ul>
                </div>
        
    
                <div class="ftr">
                    <h6 class="lead text-white" style="color:#fff;">Gagnez du temps et de l'argent !
                         nous vous enverrons les meilleures offres</h6>
                   
                    </div>
    
    
    
    
    
    
    
    
    </div>
        </footer>
