<div class="AB-P1" id="Gallerie">
    <div class="NJE_title"><h1>Gallerie</h1></div>
    <div class="AB-text1">
        <h1>LaTunisie que j'aime</h1>
          <br><br>
          <div >
          <p >Bienvenue dans un pays où vous ferez le plein de ciel bleu et de soleil, dont vous découvrirez le patrimoine exceptionnel et les traditions originales, où vous goûterez les paysages lumineux, le désert accueillant, la mer scintillante… Un pays à vivre en famille en toute tranquillité ou au rythme de vos passions.
             
           
          </p>
         </div>
        
      </div>
      
      <div class="AB-image1">
        <div class="AB-photo1">
            <div class="AB-gima1">
                <img src="../../../assets/image/L.jpg" alt="icon" class="AB-img">
                <img src="../../../assets/image/T.jpg" alt="icon"  class="AB-img">
                <img src="../../../assets/image/U.jpg" alt="icon"  class="AB-imgU">
            </div>
            <div class="AB-gima2">
                <img src="../../../assets/image/W.jpg" alt="icon"  class="AB-imgU">
                <img src="../../../assets/image/O.jpg" alt="icon"  class="AB-img">
                <img src="../../../assets/image/N.jpg" alt="icon"  class="AB-img">
               
            </div>
        </div>
       <div class="AB-photo2">
        <div class="AB-gima3">
            
            <img src="../../../assets/image/100.jpg" alt="icon"  class="AB-img1">
            <img src="../../../assets/image/200.jpg" alt="icon"  class="AB-img2">
           
           
        </div>
        <div class="AB-gima4">
            
            <img src="../../../assets/image/Q.jpg" alt="icon" class="AB-img">
            <img src="../../../assets/image/S.jpg" alt="icon" class="AB-imgS">
    
        </div>
    </div>
       </div>
        
    <h1 id="AB-titre2">A ne pas manquer</h1>
    
    <div  class="AB-image2">
        
        <div class="AB-imgC1">
            <img src="../../../assets/image/C.jpg" alt="icon"  class="AB-imgC2">
            <img src="../../../assets/image/E.jpg" alt="icon"  class="AB-imgC2">
        </div>
       
        <div class="AB-imgC">
            <img src="../../../assets/image/H.jpg" alt="icon"  class="AB-imgC2" >
            <img src="../../../assets/image/Z.jpg" alt="icon"  class="AB-imgC2">
        </div>
        <div class="AB-imgC3">
            <img src="../../../assets/image/R.jpg" alt="icon" class="AB-imgC4" >
        </div>
    </div>
          
    
