
<h1> {{region |uppercase}} HOTELS </h1>
<div class="container">
  <div class="row">
    <div class="col" *ngFor="let p of produits" >

<div class="card" style="width: 18rem;">
  <img [src]='p.photo' class="rounded mx-auto d-block"/>
  <div class="card-body">
    <h5 class="card-title">{{p.libelle|hotelPipe:p.etoile}}</h5>
    <p class="card-text">{{p.place|uppercase}}--Tunisie
      <br>
      {{p.prix | number:".3"}} DT
    </p>
    <button class="btn btn-primary" [routerLink]="['/Package/',p.place, p.libelle]" >Details</button>
  </div>
</div></div></div></div>
